$header-height: 32px;
$footer-height: 32px;

.wrapper {
  position: relative;
  padding: $header-height 0px $footer-height;

  h1 {
    text-align: center;
  }

  .header, .footer {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  
  .header {
    top: 0px;
    line-height: $header-height;
  }
  
  .footer {
    bottom: 0px;
    line-height: $footer-height;
  }
}
