$logo-height: 32px;

.header {
  @extend .bg-dark;

  height: $header-height;

  .nav {
    .nav-item {
      .nav-link {
        padding: 0px 16px;
        line-height: $header-height;

        &:first-child {
          padding-left: 0px;
        }
      }
    }
  }

  // .home {
  //   display: inline-block;
  //   width: $logo-height;
  //   height: $header-height;
  //   background: transparent url("../images/scottchak.png") no-repeat center center;
  //   background-size: $logo-height $logo-height;
  // }
}
